/.idea/
db.sqlite3
Aicros/__pycache__/__init__.cpython-311.pyc
Aicros/__pycache__/settings.cpython-311.pyc
Aicros/__pycache__/urls.cpython-311.pyc
Aicros/__pycache__/wsgi.cpython-311.pyc
Documentos/__pycache__/__init__.cpython-311.pyc
Documentos/__pycache__/admin.cpython-311.pyc
Documentos/__pycache__/apps.cpython-311.pyc
Documentos/__pycache__/models.cpython-311.pyc
Documentos/__pycache__/urls.cpython-311.pyc
Documentos/__pycache__/views.cpython-311.pyc
Documentos/migrations/__pycache__/__init__.cpython-311.pyc
Documentos/migrations/__pycache__/0001_initial.cpython-311.pyc
Documentos/migrations/__pycache__/0002_registro_y_certificaciones_de_software_micons_columna_1_and_more.cpython-311.pyc
Documentos/migrations/__pycache__/0003_registro_y_certificaciones_de_software_cenda_columna_1_and_more.cpython-311.pyc
Documentos/migrations/__pycache__/0004_alter_contrato_específico_columna_1_options_and_more.cpython-311.pyc
Nosotros/__pycache__/__init__.cpython-311.pyc
Nosotros/__pycache__/admin.cpython-311.pyc
Nosotros/__pycache__/apps.cpython-311.pyc
Nosotros/__pycache__/models.cpython-311.pyc
Nosotros/__pycache__/urls.cpython-311.pyc
Nosotros/__pycache__/views.cpython-311.pyc
Nosotros/migrations/__pycache__/__init__.cpython-311.pyc
Nosotros/migrations/__pycache__/0001_initial.cpython-311.pyc
Nosotros/migrations/__pycache__/0002_rename_evento_columna_2_evento_and_more.cpython-311.pyc
Nosotros/migrations/__pycache__/0003_alter_evento_options_alter_evento_descripción.cpython-311.pyc
Productos/__pycache__/__init__.cpython-311.pyc
Productos/__pycache__/admin.cpython-311.pyc
Productos/__pycache__/apps.cpython-311.pyc
Productos/__pycache__/models.cpython-311.pyc
Productos/__pycache__/urls.cpython-311.pyc
Productos/__pycache__/views.cpython-311.pyc
Productos/migrations/__pycache__/__init__.cpython-311.pyc
Productos/migrations/__pycache__/0001_initial.cpython-311.pyc
Productos/migrations/__pycache__/0002_alter_producto_distribuido_aicros_options.cpython-311.pyc
Servicios/__pycache__/__init__.cpython-311.pyc
Servicios/__pycache__/admin.cpython-311.pyc
Servicios/__pycache__/apps.cpython-311.pyc
Servicios/__pycache__/models.cpython-311.pyc
Servicios/__pycache__/urls.cpython-311.pyc
Servicios/__pycache__/views.cpython-311.pyc
Servicios/migrations/__pycache__/__init__.cpython-311.pyc
Servicios/migrations/__pycache__/0001_initial.cpython-311.pyc
static/img/logo/logoAicros2.ico
Sweb/__pycache__/__init__.cpython-311.pyc
Sweb/__pycache__/admin.cpython-311.pyc
Sweb/__pycache__/apps.cpython-311.pyc
Sweb/__pycache__/models.cpython-311.pyc
Sweb/__pycache__/urls.cpython-311.pyc
Sweb/__pycache__/views.cpython-311.pyc
Sweb/migrations/__pycache__/__init__.cpython-311.pyc
Sweb/migrations/__pycache__/0001_initial.cpython-311.pyc
Sweb/migrations/__pycache__/0002_auto_20220923_1031.cpython-311.pyc
Sweb/migrations/__pycache__/0003_documento.cpython-311.pyc
Sweb/migrations/__pycache__/0004_documento_documentos.cpython-311.pyc
Sweb/migrations/__pycache__/0005_alter_documento_documentos.cpython-311.pyc
Sweb/migrations/__pycache__/0006_alter_documento_documentos.cpython-311.pyc
Sweb/migrations/__pycache__/0007_alter_documento_documentos_alter_documento_picture.cpython-311.pyc
Sweb/migrations/__pycache__/0008_rename_name_documento_nombre_and_more.cpython-311.pyc
Sweb/migrations/__pycache__/0009_documento_columna1_documento_columna2_and_more.cpython-311.pyc
Sweb/migrations/__pycache__/0010_contrato_columna1_contrato_columna2_and_more.cpython-311.pyc
Sweb/migrations/__pycache__/0011_líneas_de_negocio_and_more.cpython-311.pyc
Sweb/migrations/__pycache__/0012_alter_líneas_de_negocio_options_and_more.cpython-311.pyc
Sweb/migrations/__pycache__/0013_encabezado_producto_producto_aicros.cpython-311.pyc
Sweb/migrations/__pycache__/0014_rename_imgprod_producto_aicros_imagen_and_more.cpython-311.pyc
Sweb/migrations/__pycache__/0015_rename_imagen_producto_aicros_foto.cpython-311.pyc
Sweb/migrations/__pycache__/0016_producto_distribuido_aicros.cpython-311.pyc
Sweb/migrations/__pycache__/0017_contrato_específico_columna_1_and_more.cpython-311.pyc
Sweb/migrations/__pycache__/0018_listado_productos_y_servicios_columna_1_and_more.cpython-311.pyc
Sweb/migrations/__pycache__/0019_registro_y_certificaciones_de_software_columna_1_and_more.cpython-311.pyc
Sweb/migrations/__pycache__/0020_contrato_general_columna_1_and_more.cpython-311.pyc
Sweb/migrations/__pycache__/0021_otros_documentos_columna_1_and_more.cpython-311.pyc
Sweb/migrations/__pycache__/0022_encabezado_documentos.cpython-311.pyc
Sweb/migrations/__pycache__/0023_rename_texto1_encabezado_documentos_texto_1_and_more.cpython-311.pyc
Sweb/migrations/__pycache__/0024_texto_documentos_rapidos.cpython-311.pyc
Sweb/migrations/__pycache__/0025_documentos_de_rápido_acceso.cpython-311.pyc
Sweb/migrations/__pycache__/0026_descripcion_productos_aicros_and_more.cpython-311.pyc
Sweb/migrations/__pycache__/0027_descripcion_servicios_aicros_encabezado_servicio_and_more.cpython-311.pyc
Sweb/migrations/__pycache__/0028_encabezado_nosotros_mision_nosotros_valores_nosotros_and_more.cpython-311.pyc
Sweb/migrations/__pycache__/0029_evento_columna_1_evento_columna_2_evento_columna_3.cpython-311.pyc
Sweb/migrations/__pycache__/0030_anno_historia.cpython-311.pyc
Sweb/migrations/__pycache__/0031_miembro_de_trabajo.cpython-311.pyc
Sweb/migrations/__pycache__/0032_alter_miembro_de_trabajo_options_and_more.cpython-311.pyc
Sweb/migrations/__pycache__/0033_cifra_alter_tproducto_descripción_and_more.cpython-311.pyc
Sweb/migrations/__pycache__/0034_carrusel.cpython-311.pyc
Sweb/migrations/__pycache__/0035_alter_carrusel_texto.cpython-311.pyc
Sweb/migrations/__pycache__/0036_carrusel_servicios_inicioservicio.cpython-311.pyc
Sweb/migrations/__pycache__/0037_alter_inicioservicio_descripción_and_more.cpython-311.pyc
Sweb/migrations/__pycache__/0038_remove_carrusel_servicios_título.cpython-311.pyc
Sweb/migrations/__pycache__/0039_delete_anno_historia_and_more.cpython-311.pyc
Sweb/migrations/__pycache__/0040_delete_contrato_específico_columna_1_and_more.cpython-311.pyc
Sweb/migrations/__pycache__/0041_delete_descripcion_servicios_aicros_and_more.cpython-311.pyc
Sweb/migrations/__pycache__/0042_noticia_1_noticia_2_noticia_3.cpython-311.pyc
Sweb/migrations/__pycache__/0043_alianza.cpython-311.pyc
Sweb/migrations/__pycache__/0044_cifra_color.cpython-311.pyc
Sweb/migrations/__pycache__/0045_alter_tproducto_descripción.cpython-311.pyc
Sweb/migrations/__pycache__/0046_noticia_1_título_noticia_2_título_noticia_3_título.cpython-311.pyc
Sweb/migrations/__pycache__/0047_rename_tproducto_carrusel_productos.cpython-311.pyc
Sweb/migrations/__pycache__/0048_alter_carrusel_options_and_more.cpython-311.pyc
run.bat
Encuestas/migrations/__pycache__/0001_initial.cpython-311.pyc
Encuestas/migrations/__pycache__/0002_alter_encuesta_nombre_alter_encuesta_pie_and_more.cpython-311.pyc
Encuestas/migrations/__pycache__/0003_alter_respuesta_options_pregunta_titulo_interno.cpython-311.pyc
Encuestas/migrations/__pycache__/0004_alter_pregunta_titulo_interno.cpython-311.pyc
Encuestas/migrations/__pycache__/0004_remove_pregunta_titulo_interno.cpython-311.pyc
Encuestas/migrations/__pycache__/0005_remove_pregunta_titulo_interno.cpython-311.pyc
Encuestas/migrations/__pycache__/0006_alter_pregunta_options_alter_respuesta_options_and_more.cpython-311.pyc
Encuestas/migrations/__pycache__/0007_alter_respuesta_options_alter_encuesta_preguntas_and_more.cpython-311.pyc
Encuestas/migrations/__pycache__/0008_alter_respuesta_options_remove_pregunta_respuestas_and_more.cpython-311.pyc
Encuestas/migrations/__pycache__/0009_alter_pregunta_grupo_de_respuestas.cpython-311.pyc
Encuestas/__pycache__/admin.cpython-311.pyc
Encuestas/__pycache__/models.cpython-311.pyc
Encuestas/__pycache__/urls.cpython-311.pyc
Encuestas/__pycache__/views.cpython-311.pyc
Encuestas/__pycache__/__init__.cpython-311.pyc
