.card {
    width: 100%;

    margin: 0 auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


.ds-card img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}