/* ----------------------------- Footer ----------------------------- */


#fh5co-footer {
  padding: 5em 0;
}

@media screen and (max-width: 768px) {
  #fh5co-footer {
    padding: 2em 0;
  }
}


#fh5co-footer {
  background: #000000;
  color: #74889e;
}

#fh5co-footer a {
  color: rgb(99, 99, 99);
}

#fh5co-footer a:hover {
  color: #fff !important;
  text-decoration: underline;
}

#fh5co-footer .section-title {
  font-size: 22px;
  color: #5a5f61;
  position: relative;
  padding-bottom: 25px;
}


#fh5co-footer .copy-right {
  position: relative;
  padding-top: 20px;
  margin-top: 40px;
}

#fh5co-footer .copy-right>a {
  color: rgba(255, 255, 255, 0.4);
}

#fh5co-footer .copy-right:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  display: block;
  width: 35px;
  height: 2px;
  background: #1fb5f6;
}

#fh5co-footer .contact-info {
  margin: 0 0 60px 0;
  padding: 0;
}

#fh5co-footer .contact-info li {
  font-size: 16px;
  list-style: none;
  margin: 0 0 20px 0;
  position: relative;
  padding-left: 40px;
}

#fh5co-footer .contact-info li i {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 22px;
  color: #1fb5f6;
}

#fh5co-footer .contact-info li img {
  position: relative;
  top: 0;
  left: 0;
  font-size: 22px;
  color: #1fb5f6;
  z-index: 300 !important;
  background-color: #ddd;
}

#fh5co-footer .social-media {
  margin: 0 0 30px 0;
  padding: 0;
}

#fh5co-footer .social-media li {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 24px;
  margin-right: 10px;
}

#fh5co-footer .social-media li a {
  color: #ffffff;
}

#fh5co-footer .social-media li a:hover,
#fh5co-footer .social-media li a:focus,
#fh5co-footer .social-media li a:active {
  text-decoration: none;
}

#fh5co-footer .contact-form .form-group input[type="name"],
#fh5co-footer .contact-form .form-group input[type="text"],
#fh5co-footer .contact-form .form-group input[type="email"],
#fh5co-footer .contact-form .form-group textarea {
  font-size: 16px;
}

#fh5co-footer .contact-form .form-group input[type="name"]::-webkit-input-placeholder,
#fh5co-footer .contact-form .form-group input[type="text"]::-webkit-input-placeholder,
#fh5co-footer .contact-form .form-group input[type="email"]::-webkit-input-placeholder,
#fh5co-footer .contact-form .form-group textarea::-webkit-input-placeholder {
  color: rgba(28, 28, 28);
}

#fh5co-footer .contact-form .form-group input[type="name"]:-moz-placeholder,
#fh5co-footer .contact-form .form-group input[type="text"]:-moz-placeholder,
#fh5co-footer .contact-form .form-group input[type="email"]:-moz-placeholder,
#fh5co-footer .contact-form .form-group textarea:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.5);
}

#fh5co-footer .contact-form .form-group input[type="name"]::-moz-placeholder,
#fh5co-footer .contact-form .form-group input[type="text"]::-moz-placeholder,
#fh5co-footer .contact-form .form-group input[type="email"]::-moz-placeholder,
#fh5co-footer .contact-form .form-group textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.5);
}

#fh5co-footer .contact-form .form-group input[type="name"]:-ms-input-placeholder,
#fh5co-footer .contact-form .form-group input[type="text"]:-ms-input-placeholder,
#fh5co-footer .contact-form .form-group input[type="email"]:-ms-input-placeholder,
#fh5co-footer .contact-form .form-group textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

#fh5co-footer .contact-form .form-group input {
  color: #fff;
  background: transparent;
  border: none;
  background: rgb(28, 28, 28);
  box-shadow: none;
}

#fh5co-footer .contact-form .form-group textarea {
  color: #fff;
  background: transparent;
  border: none;
  background: rgb(28, 28, 28) !important;
  box-shadow: none;
  height: 150px;
}

#fh5co-footer #btn-submit {
  color: rgba(255, 255, 255, 0.9) !important;
  background: #8a1a14 !important;
}




@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

.row-bottom-padded-lg {
  padding-bottom: 7em;
}

@media screen and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-md {
  padding-bottom: 4em;
}

@media screen and (max-width: 768px) {
  .row-bottom-padded-md {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-sm {
  padding-bottom: 2em;
}

@media screen and (max-width: 768px) {
  .row-bottom-padded-sm {
    padding-bottom: 2em;
  }
}






/* ------------------------------------  Equipo de Trabajo  ------------------------------------ */









/* ------------------------------------  Años de Nosotros  ------------------------------------ */
#dates {
  width: 800px;
  height: 60px;

}

#dates li {
  list-style: none;
  float: left;
  width: 50px;
  height: 50px;
  font-size: 20px;
  color: #8a1a14;
  margin-left: 150px;
  margin-top: 5px;
}

#dates a {
  line-height: 38px;
  padding-bottom: 10px;
  color: rgb(255, 255, 255);
}