{% extends 'base.html' %}
{% load static %}

{%block title%}No encontrado{%endblock%}
{% block content %}
<div class="nuevaSeccion">
    <section id="banner" class="bannerclass">
        <h1 class='banner_title'>
            <div>{{banner_title.texto}}<br><p class='banner_title_bold'>{{banner_title.texto_negrita}}</p>
            </div></h1> 
    </section>
    <div class="SeccionesGenerales">
        <section class="seccionInicial container404">
            <header> <h1 class="text404">{{404.texto}}</h1></header>
            <img src="{{404.foto.url}}" class="img404" alt="">
        </section>
    </div>
    <div class="backgraondline"></div>
{% endblock %}
    

    