{% extends 'base.html' %}
{% load static %}

{%block title%}No encontrado{%endblock%}
{% block content %}
<div class="nuevaSeccion">
    <section id="banner" class="bannerclass">
        {% for i in p404 %}
            <header> <h1 class="text404">{{i.texto}}</h1></header>
            <img src="{% static '/img/logo/invertido.png'%}" class="img404" alt="">
            {% endfor %}

    </section>
    <div class="SeccionesGenerales">
        <section class="seccionInicial container404">
            <header> <h1 class="text404">{{404.texto}}</h1></header>
            <img src="{{404.foto.url}}" class="img404" alt="">
        </section>
    </div>
    <div class="backgraondline"></div>
{% endblock %}
    

    